<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Steve Jackson - Ian Livingstone</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>152CE5C07A56CD4816AF4F22793D175D</string>
		<key>cover-image-path</key>
		<string>OEBPS/Images/Borito.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>A59850AC85B70DFEF0CA176245681726</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:90128b39-06e7-47b7-879d-3a6190a03b02</string>
		<key>unique-id</key>
		<integer>-4218476657973259472</integer>
	</dict>
	<key>genre</key>
	<string>Kaland Játék Kockázat</string>
	<key>itemName</key>
	<string>A Haláltalizmán</string>
	<key>playlistName</key>
	<string>A Haláltalizmán</string>
</dict>
</plist>
